
  @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');
  body{
    background-color: black;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Ubuntu',sans-serif;
}
nav ul li{
    padding: 0 12px;
    font-weight: bold;
    font-size: 1.3rem;
}
nav ul a{
    text-decoration: none;
    color: green;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0 12px;
}
nav ul{
    display: flex;
    list-style-type: none;
    height: 69px;
    align-items: center;
    background-color:black;
    color: green;
}
.brand img{
    width: 44px;
}
.brand{
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
}
#id{

}
.container{
    min-height: 70vh;
    background-color: black;
    color: green;
    font-family: 'Ubuntu',sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.songItem{
    height: 7%;
    display: flex;
    background-color: black;
    width: 40%;
    border-radius: 120px;
    color: green;
    margin: 12px 22px;
    justify-content: space-between;
    align-items: center;
}
.songItem img{
    width: 10%;
    margin: 0 12px;
    border-radius: 50%;
}

.icons{
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    filter:brightness(0) invert(1);
}

.bottom{
    bottom: sticky;
    height: 130px;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

#myprogressBar{
    width: 80vw;
    cursor: pointer;
}
.icons i{
    padding: 10px;
}
.timestamp{
    margin: 0 13px;
    
}
.timestamp i{
    cursor: pointer;
}
.songInfo{
    color: green;
    width: 500px;
    position: absolute;
    left: 10vw;
    /* font-family: 'varela'; */
}
.songInfo img{
    padding: 20px 0;;
    margin: auto;
    width: 200px;
    opacity: 0;
    transition: opacity 0.4s ease-in;

}